.landing-page-img-padding-top {
  padding-top: .75rem;
}

.category-tile {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-card {
  height: 110px;
}

.features-card {
  height: 150px !important;
}

.cursor-no-pointer {
  cursor: default;
}

/* Homepage Cards Gradient */
.card {
    background: linear-gradient(135deg, #06465D 0%, #032050 100%) !important;
    color: white;
}

.card .card-title,
.card .card-text,
.card small {
  color: white !important;
}

.card .text-muted {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* .card i {
  color: white;
} */
