.landing-page-img-padding-top {
  padding-top: .75rem;
}

.category-tile {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-card {
  height: 110px;
}

.features-card {
  height: 150px !important;
}

.cursor-no-pointer {
  cursor: default;
}
